@page
@using WebApplication2.Entity;
@using WebApplication2.Service;
@model WebApplication2.Pages.GoodsReceipt.DeleteGoodsReceiptModel
@{
}
<form method="post">
  <label for="fname">Goods Receipt Code :</label><br>
  <input type="text" name="goodsReceiptCode" value="@Model.goodsReceipt.goodsReceiptCode" readonly><br>
  <label for="lname">Date :</label><br>
	<input type="text" name="insertDate" value="@Model.goodsReceipt.insertDate" readonly><br><br>
   <div>
        <table>
            <tr>
                <th>Product Id</th>
                <th>Name Of Product</th>
                <th>Quantity</th>
				<th>Type</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

			@if (@Model.stores != null && @Model.stores.Count > 0)
			{
				@foreach (var item in @Model.stores)
				{
						<tr>
							<td>@item.productId</td>
							<td>@item.productName</td>
							<td>@item.quantity</td>
							<td>@item.typeCd</td>
							<td>@item.price</td>
							<td>@item.total</td>
						</tr>
				}
			}
			
        </table>
  </div>
  <input type="submit" value="Delete">
</form>

